{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% assign postMeta = false %}
{% if section.settings.tags and article.tags.size > 0 %}
  {% assign postMeta = true %}
{% elsif section.settings.author %}
  {% assign postMeta = true %}
{% elsif section.settings.share-buttons %}
  {% assign postMeta = true %}
{% endif %}

<article class="blog-post {% if article.image %}has-featured-image{% endif %}">

  {% if article.image %}
    {% if template == 'article' %}
      <img class="highlight" src="{{ article.image | img_url: '1024x1024'}}" alt="{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
    {% else %}
      <a href="{{ article.url }}">
        <img class="highlight" src="{{ article.image | img_url: '1024x1024'}}" alt="{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
      </a>
    {% endif %}
  {% endif %}

  <div class="blog-post-inner">
    <h1 class="post-title">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>

    <span class="post-date">{{ article.published_at | date: format: 'short_month' }}</span>

    <div class="rte post-content">
      {% comment %}ly_code_replace_for_[ article.content ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>

    {% if postMeta %}
      <aside class="post-meta">
        {% if section.settings.share-buttons %}
          {% include 'share-buttons' %}
        {% endif %}
        {% if article.tags.size > 0 and section.settings.tags %}
          <div class="post-tags">
            <span class="title">{% comment %}ly_i18n_replace_for_[ 'blogs.article_item.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article_item.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '6185406' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
            {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
        {% if section.settings.author %}
          <div class="post-author">
            {% if section.settings.author-avatar %}
              <img class="post-author-avatar" src="http://www.gravatar.com/avatar/{{ article.user.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
            {% endif %}
            <span class="post-author-name" data-title="{% comment %}ly_i18n_replace_for_[ 'blogs.article_item.written_by' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article_item.written_by' | t }}{% endcapture %}{% include 'ly-static-string' with '6185407' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">{{ article.author }}</span>
          </div>
        {% endif %}
      </aside>
    {% endif %}
  </div>

</article>